
h1 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 120%;
}
a {
    color: green;
    display: flexbox;
    flex-direction:row ;
}
a:visited {
    color: red;
}

@media (min-width: 992px){

}
@media (min-width: 768px) and (max-width: 992px){

}
@media(max-width: 769px){
    a{
        flex-direction: column;
    }
}