
h1 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 120%;
}
a {
    color: green;
    display: flexbox;
    flex-direction:row ;
}
a:visited {
    color: red;
}

   @media screen and (max-width: 600px) {
    .flex-container {
     display: flex;
     flex-direction: column;
    }
   }

   @media screen and (min-width: 601px) and (max-width: 960px) {
    .flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    }
      .flex-container a{
         width:50%;
      }
    
   }

   @media screen and (min-width: 961px) {
    .flex-container {
     display: flex;
     flex-direction: row;
    }
      .flex-container a{
         margin-left:150px;
         margin-top:20px;
      }
    
   }
