body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.row {
    padding: 2rem;
    margin-bottom: 2rem;
}


h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}

.row{
    width: 100%;
}

/* Desktop */
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
    width: 8.33%;
    }
    }
/*for tablet*/
@media (min-width: 768px) and (max-width: 992px) {
    .col-tg-1, .col-tg-2, .col-tg-3, .col-tg-4, .col-tg-5, .col-tg-6, .col-tg-7, .col-tg-8,
    .col-tg-9, .col-tg-10, .col-tg-11, .col-tg-12 {
    float: left;
    border: 1px solid green;
    width:16.66%;
    }
    }
/*mobile*/
@media(max-width: 769px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
    width:100%;
    }
}